<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
      <div class="container">
      <%= image_tag "https://image.flaticon.com/icons/png/512/69/69524.png", width:"30px", height:"30px"%>&nbsp &nbsp
         <a href="#" class="navbar-brand text-warning font-weight-bold">ALBUM</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">
          <span class="navbar-toggler-icon"</span></button>
          <div class="collapse navbar-collapse text-center" id="collapsenavbar">
            
           
            <ul class="navbar-nav ml-auto text-white ">
            <li class="nav-item">
            <%= link_to  "Recent Upload", allimages_path, class:"nav-link" %>
          </li>
          
                <li class="nav-item  btn-primary  "> <a class="nav-link" href="/users/sign_in">Log In</a></li>&nbsp &nbsp
                 <li class="nav-item  btn-primary  "> <a class="nav-link" href="/users/sign_up">Sign up</a></li>&nbsp

            </ul>
         </div>
     </nav>  
     
     <div class="carousel-inner  ">
            <div class="carousel-item active">
                <div class="image-fluid ">
                    <%= image_tag  "https://posterjackcanada.files.wordpress.com/2013/12/silhouette-photographer-tripod-sunset-sunrise.jpg", width: "1300px ", height: "550px"%>
                </div>
                <div class="carousel-caption " , style=padding-left:540px>
                    
                    <h4>"The nice things about the gallery shows is that without having to pay any money you can just go and see it."</h4>
                </div>
            </div>
        </div>  
<div class="container mb-4 pt-5">
    <div class="row-fluid pb-2">
        <h1 id="portfolio" class="font-weight-bolder">PORTFOLIO :</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQYh-gwkaik2hwrBRWcjqm-LHucQGKcqVGdE6B5pMuAjzz_zLGb&usqp=CAU" width="350px " height="350px" %>

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTAXZVFuGtOp81jEcia49-YibHU8mgVzivLVftGz4tH7eHUCJLn&usqp=CAU" width="350px " height="350px" %>
               

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQdyEXW2HmUZCYRANauFZU-fNyUcSAxOmUIf7FDrxwnieJuwNaI&usqp=CAU" width="350px " height="350px" %>
                
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQcacsK2HXSdY700Y_ci0cyojUc8z_aXc9BvtXT5gT5gL30noj1&usqp=CAU" width="350px" height="350px">
              

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTsHEfGP6SiAK1FwIxi38PBdVNuybxWoqwR5tFLYILWvfXb0UmO&usqp=CAU" width="350px " height="350px" %>
                <h4 class="pt-3">Title:<strong> Hello...</strong> </h4>
                <h4>Descripition:<strong>Hello...Friends...</strong> </h4>

            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFm4_6ykkOg5BuO-bB84GiWiLyDqs9qjT1PpJD81Rl2mcGMzHD&usqp=CAU" width="350px " height="350px" %>
                <h4 class="pt-3">Title:<strong> Hello...</strong> </h4>
                <h4>Descripition:<strong>Hello...Friends...</strong> </h4>

            </div>
        </div>
    </div>

</div>

<div class="container">
    <hr>
</div>


